<%= turbo_frame_tag dom_id(@case, :step_options) do -%>
  <% @steps.each do |step| -%>
    <li class="relative cursor-default select-none py-2 pl-3 rounded-md transition-all"
        data-case-step-builder-target="option"
        data-action="mouseenter->case-step-builder#focus"
        tabindex="-1"
        role="option">
      <%= form_with url: append_case_step_path(@case, step), class: 'grid' do |f| -%>
        <button class="flex items-center gap-1 text-white" type="submit" data-action="case-step-builder#clear">
          <h5 class="text-lg truncate"><%= step.title -%></h5>
          <p class="text-base text-gray-300 truncate"><%= step.acceptance_criteria -%></p>
        </button>
      <% end -%>
    </li>
  <% end -%>

  <% if @steps.empty? -%>
    <div class="text-base text-center text-gray-300 py-2 pl-3 pr-9">
      No existing step found.
    </div>
  <% end -%>
<% end -%>
