<h1>Editing suite</h1>

<%= render "form", project: @project, suite: @suite %>

<br>

<div>
  <%= link_to "Show this suite", [@project, @suite] %> |
  <%= link_to "Back to suites", @project %>
</div>
