<p style="color: green"><%= notice %></p>

<%= render @suite %>

<div>
  <%= link_to "Edit this suite", edit_project_suite_path(@project, @suite) %> |
  <%= link_to "Back to suites", project_suites_path %>

  <%#= button_to "Destroy this suite", @suite, method: :delete %>
</div>
