<div id="<%= dom_id test_case %>">
  <p>
    <strong>Title:</strong>
    <%= test_case.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= test_case.description %>
  </p>

  <p>
    <strong>Acceptance criteria:</strong>
    <%= test_case.acceptance_criteria %>
  </p>

</div>
