<div id="<%= dom_id case %>">
  <p>
    <strong>Title:</strong>
    <%= case.title %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= case.details %>
  </p>

  <p>
    <strong>Acceptance criteria:</strong>
    <%= case.acceptance_criteria %>
  </p>

</div>
