<div data-controller="case-step-builder">
  <div class="relative">
    <input type="text"
           name="text"
           placeholder="Search or create steps..."
           data-action="case-step-builder#update"
           class="min-w-full bg-transparent !text-white pr-12" />

  </div>
</div>
