<h1>Editing case</h1>

<%= render "form", project: @project, suite: @suite, test_case: @case %>

<br>

<div>
  <%= link_to "Show this case", [@project, @suite, @case] %> |
  <%= link_to "Back to suite", [@project, @suite] %>
</div>
