<%= render @case, test_case: @case %>

<div>
  <%= link_to "Edit this case", edit_project_suite_case_path(@case) %> |
  <%= link_to "Back to suite", project_suite_path(@project, @suite) %>

  <%#= button_to "Destroy this case", @case, method: :delete %>
</div>
