<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>

    <%= link_to project.title, project %>
  <% end %>
</div>

<%= link_to "New project", new_project_path %>
