<div id="<%= dom_id step %>">
  <p>
    <strong>Title:</strong>
    <%= step.title %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= step.details %>
  </p>

  <p>
    <strong>Acceptance criteria:</strong>
    <%= step.acceptance_criteria %>
  </p>

</div>
