<p style="color: green"><%= notice %></p>

<h1>Steps</h1>

<div id="steps">
  <% @steps.each do |step| %>
    <%= render step %>
    <p>
      <%= link_to "Show this step", step %>
    </p>
  <% end %>
</div>

<%= link_to "New step", new_step_path %>
