<p>Hey there,</p>
<p>You have been assigned a Test Run on Test Case Bay.</p>
<p>All test cases and steps can for you to perform are listed <%= link_to 'here', assignment_url(@assignment.token) -%></p>

<p style="margin-top:2em">Thanks!</p>
