<div class="flex justify-center items-center">
  <div class="p-4 space-y-2">
  <h1 class="text-2xl">Resource Not Found!</h1>
  <p class="text-lg">We suggest you return <%= link_to 'home', root_path, class: 'text-teal-500 hover:underline' -%></p>
  </div>
</div>
